@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html {

width: 100vw;
height: 100vw;
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
background-color: #1f1e1f;



}

/* Menu */

.content {

    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 23, 23);
    position: fixed;
    padding-left: 30rem;

}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3 {
    color: white;
    font-size: 1.6rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight:500;
    transition: all 200ms ease-in;
}


.content .list-menu li a:hover{
    background-color: #3333;
    border-bottom: 4px solid maroon;
    color: maroon;

}

/*first-section*/

.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8)), rgba(29, 29, 29, 0.8) ,url(./marmitex2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* arrumar a background image*/

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.first-section h1 {
color: rgb(126, 21, 21);
font-size: 6rem;
text-transform: uppercase;
margin-bottom: 1rem;
}

.first-section h2 {
    color: rgb(31, 29, 29);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: maroon;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.btn button:hover {
    border: 1px solid maroon;
    background-color: transparent;
    color: maroon;
}

.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
}



/* Sobre nos */

.sobre-nos
{
    background-color: #1f1f1f;
    width: 100%;
    padding-bottom: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-nos img
{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.main
{
   display: flex;
   justify-content: space-between;
}

.contentsobre
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2
{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.contentsobre p
{
    text-align: center;
    font-size: 1.8rem;
    width: 600px;
}

/*Cardapio*/

.cardapio
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(12, 12, 12, 0.8);
    color: white;
}

.cardapio h2
{
    font-size: 5rem;
    color: #e6e6e6;
    text-transform: uppercase;
}

.itens-cardapio
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 10%; /* Ajuste a largura conforme necessário */
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    gap: 30px;    
}

.itens-cardapio info
{
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
}

.itens-cardapio info h3
{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio info h4
{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15opx, 150px;
    margin-left: 6rem;

}




.itens-cardapio img
{
    width: 100%;
    height: 200%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.itens-cardapio.info.pedir 
{
    width: 200px;
    height: 35px;
    background-color: #ffc506;
    margin-top: 0.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    transition: all 200ms ease-in;
}

/*contats*/

.contatos
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1e1f;
    color: white;
    padding-bottom: 4rem;
    font-size: 1.8rem;
}

.contatos h3
{
    font-size: 6rem;
    color: #e6e6e6;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contatos-secao
{
    display: flex;
    justify-content: space-between;
    width: 650px;
    font-size: 2rem;
}

.contatos-secao i
{
    margin-right: 1rem;
}

.contatos-secao div
{
    cursor: pointer;
    transition: all 200ms ease-in;
}

.contatos-secao div:hover
{
    color: maroon;
}



/* verificar a responsividade de cada media  */


@media (max-width: 1200px) {
    .main {
        display: block;
        padding-left: 0;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;

        padding-left: 0px;
    }
}



@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}



@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 40px; 
    }

    .content .list-menu {
        display: none;
    }

    .one
    .two
    .three {
        width: 80px;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition: 0.5s;  
    }
    
    .menu-tuggle {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1000;
    }

    .content.on {
        position: fixed;
        top: 0%;
        left: 0%;
        bottom: 0%;
        width: 100vh;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on.logo {
        display: none;
    }

    .content.on.menu-tuggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on.list-menu {
        display: block;
    }

    .content.on.list-menu li {
        display: flex;
        justify-content: center;
    }
    
    .content.on.list-menu li a {
    font-size: 2rem;
    display: block;        
    }

    .content.on.menu-tuggle .two {
        opacity: 0;
    }


    /* verificar o posicionamento do X */
    .content.on.menu-tuggle .one {
        transform: rotate(45deg) translate(5px, -8px); 
    }

    .content.on.menu-tuggle .three {
        transform: rotate(-45deg) translate(20px, -6px); 
    }




    .itens-cardapio {
        grid-template-columns: repeat(2, minmax(50px, 350px));
       
    }

    .itens-cardapio.info h4 {
        margin-left: 12rem;
    }

    .contatos-secao {
        display: block;
        text-align: center;
        font-size: 2rem;
    }
   
    .contatos-secao div {
        margin: 1rem;
    }
}



@media (max-width: 600px) {
    .conteudo-principal h1 {
        width: 500px;
        text-align: center;
        font-size: 4rem;
    }

    .conteudo-principal h2 {
        font-size: 2rem;
    }

    .itens-cardapio {
        grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    }

    .sobre-nos {
        width: 400px;
        height: 250px;
        margin-left: 10px;
    }

    .sobre-nos p {
        text-align: center;
        width: 400px;
    }

    .contatos-secao{
        width: 300px;
    }
}

@media (max-width: 500px) {
    .btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
    }

    .btn  button {
        font-size: 1.5rem;
        width: 100%;


    }

    .conteudo-principal h1 {
        width: 350px;
        font-size: 3rem;
        text-align: center;
    }

    .conteudo-principal h2 {
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }

}

@media (max-width: 395px) {
    .sobre-nos img {
        width: 250px;
        height: auto;
        margin-left: 10px;

    }

    .contentsobre p {
        text-align: center;
        width: 250px;
    }

    .itens-cardapio {
        width: 50%;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(50px, 350px));

    }

    .itens-cardapio img {
        width: 50%;
        height: auto;
    }

    .itens-cardapio div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itens-cardapio.info {
        width: 1005;
        height: 150px;
    }

    .itens-cardapio.info h4 {
        grid-template-columns: 93px 150px;
    }

    .itens-cardapio.info.pedir {
        width: 100%;
        font-size: 1.5rem;
    }

}